body {
  background-color: rgb(144, 202, 170);
}
#all-books {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
h1 , h2{
 display: flex;
justify-content: center;
}
nav > a{
 display: flex;
 color: black;
}
#single-book {
display: flex;
flex-direction: row;
justify-content: center;

}
